{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 bg-light p-3">
                <h1>Connexion</h1>
                {% if hasError %}
                    <div class="alert alert-danger">Une erreur est survenue, le nom d'utilisateur ou le mot de passe est invalide</div>
                {% endif %}
                <form action="{{ path('account_login') }}" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        {# symfony veut un name précis pour le login : _username #}
                        <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse E-mail..." value="{{username}}" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        {# symfony veut un name précis pour le password: _password #}
                        <input type="password" name="_password" id="password" class="form-control" placeholder="Votre mot de passe" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
