{% extends 'base.html.twig' %}

{% block title %}Inscription au site{% endblock %}

{% block body %}
    <div class="container">
        <h1>Inscription sur Immoloc</h1>
        {{form_start(myForm)}}
            {{form_widget(myForm)}}
                <button type="submit" class="btn btn-success">Confirmez l'inscription</button>
        {{form_end(myForm)}}
    </div>
{% endblock %}
{% block javascripts %}
     <script>
        $('.custom-file input').change(function (e) {
            var files = [];
            for (var i = 0; i < $(this)[0].files.length; i++) {
                files.push($(this)[0].files[i].name);
            }
            $(this).next('.custom-file-label').html(files.join(', '));
        });
    </script>
{% endblock %}